html, body { height:100%; }
body { align-items:center; background-color:#fff; display:-ms-flexbox; display:flex; -ms-flex-align:center; padding-top:40px; padding-bottom:40px; }

.form-signin { margin:auto; max-width:330px; padding:15px; width:100%; }
.form-signin .form-control { border:none; border-bottom:2px solid #eee; border-radius:0; font-size:.85em; padding:0; position:relative; }
.form-signin .form-control:focus { border:none; border-bottom:2px solid rgba(23, 162, 184, 0.75); border-radius:0; box-shadow:none !important; z-index:2; -moz-border-radius:0; }
.form-signin .form-group label { color:#999; font-size:.75em; text-align:left !important; width:100%; }
.form-signin .form-error { border-bottom:2px solid #721c24; }
.form-signin .form-error:focus { border-bottom:2px solid #721c24; }

.alert { font-size:.85em; padding:.25rem .75rem; }